:root {
    --purpleLighter: #fd6dfd;
    --purple: #af4caf;
    --light: #f0f6ff;
    --dark: #222222;
    --darker: #22222233;
    --blueLighter: #4dd0e7;
    --blue: #3990a0;
}


/* global */
img {
    max-width: calc(100% - 20px);
    width: 250px;
    height: 200px;
    object-fit: cover;
}

p {
    line-height: 1.4;
}

.textCenter {
    text-align: center;
}

.imgCenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* card container */
.cardContainer {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}


/* cards */
.card {
    margin: 10px;
    margin-bottom: 30px;
    position: relative;
    max-width: 260px;
    flex-grow: 1;
    padding: 8px;
    border: 2px solid var(--dark);
    border-radius: 12px;
    width: 500px;
    box-shadow: 6px 6px 4px var(--darker);
}

.card__buttonContainer {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: -16px;
}

.card__button {
    border: 2px solid var(--dark);
    border-radius: 12px;
    background-color: #ffffff;
    color: var(--dark);
    width: 50%;
    height: 32px;
}

@keyframes titleAnimateShadow {
    0% {
        text-shadow: 0px 0px 16px;
    }

    100% {
        text-shadow: 0px 0px 32px;
    }
}

.card__title {
    animation-name: titleAnimateShadow;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.card__img {
    border: 1px solid var(--dark);
    border-radius: 12px;
}

.card__p {
    padding-left: 10px;
}


/* card skins */
/*   light */
.cardDark {
    background-color: var(--dark);
    color: var(--light);
    border-color: var(--purpleLighter);
}

.cardDark__button {
    border-color: var(--purpleLighter);
}

.cardDark--warning:hover {
    background-color: var(--purpleLighter);
}

.cardDark--warning:focus {
    color: white;
    background-color: var(--purple);
}

.cardDark__title {
    color: var(--purpleLighter);
    animation-direction: alternate;
}

.cardDark__img {
    border-color: var(--purpleLighter);
}


/*   dark */
.cardLight {
    background-color: var(--light);
    color: var(--dark);
    border-color: var(--blueLighter);
}

.cardLight__button {
    border-color: var(--blueLighter);
}

.cardLight--highlight:hover {
    background-color: var(--blueLighter);
}

.cardLight--highlight:focus {
    color: white;
    background-color: var(--blue);
}


.cardLight__title {
    color: var(--blueLighter);
    animation-direction: alternate-reverse;
}

.cardLight__img {
    border-color: var(--blueLighter);
}

/*   
2DO Semantic html / SASS / Uppercase / responsive
2DO amake document tinto a reference project for all tricks with CSS 
  - responsive
  */